<footer class="mx-auto max-w-7xl text-center lg:text-left bg-gray-100 text-gray-600">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-6 border-b border-gray-300 bg-cyan-800">
    <div class="flex flex-col justify-center align-center mb-12 lg:mb-0">
      <img class="object-contain h-20 m:h-24" src="../../assets/images/calculator.png" />
      <span class="text-white text-center font-bold">Compare Prices</span>
    </div>
    <div class="flex flex-col justify-center mb-12 mb-12 lg:mb-0">
      <img class="object-contain h-20 m:h-24" src="../../assets/images/discount.png" />
      <span class="text-white text-center font-bold">Get the best deals</span>
    </div>
    <div class="flex flex-col justify-center mb-12 mb-12 lg:mb-0">
      <img class="object-contain h-20 m:h-24" src="../../assets/images/support.png" />
      <span class="text-white text-center font-bold">7/7 support</span>
    </div>
    <div class="flex flex-col justify-center mb-12 mb-12 lg:mb-0">
      <img class="object-contain h-20 m:h-24" src="../../assets/images/online-payment.png" />
      <span class="text-white text-center font-bold">Secure online payment</span>
    </div>
  </div>
  <div class="py-10 text-center md:text-left bg-blue-100">
    <div class="mx-6 grid grid-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="">
        <h6 class="uppercase font-bold mb-4 flex justify-center md:justify-start">
          Links
        </h6>
        <p class="mb-4">
          <a href="#!" class="font-medium text-blue-800">Home</a>
        </p>
        <p class="mb-4">
          <a href="#!" class="font-medium text-blue-800">Destinations</a>
        </p>
        <p class="mb-4">
          <a href="#!" class="font-medium text-blue-800">Deals</a>
        </p>
        <p class="mb-4">
          <a href="#!" class="font-medium text-blue-800">Contact</a>
        </p>
        <p>
          <a href="#!" class="font-medium text-blue-800">Terms & Conditions</a>
        </p>
      </div>
      <div class="">
        <h6 class="uppercase font-bold mb-4 flex justify-center md:justify-start">
          Address
        </h6>
        <p class="mb-4 text-gray-600">
            12 rue de la paix
        </p>
        <p class="mb-4 text-gray-600">
          75010 Paris
        </p>
        <p class="mb-4 text-gray-600">
          France
        </p>
        <p>
          <a href="#!" class="font-medium text-blue-800">Other addresses</a>
        </p>
      </div>
      <div class="">
        <h6 class="uppercase font-bold mb-4 flex justify-center md:justify-start">
          Call Us
        </h6>
        <p class="flex items-center justify-center md:justify-start mb-4 font-bold text-xl">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone"
               class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 512 512">
            <path fill="currentColor"
                  d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z">
            </path>
          </svg>
          + 1-0805-540-801
        </p>
      </div>
    </div>
  </div>
  <div class="bg-orange-500 p-4">

  </div>
</footer>
