/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



$blue: #004e66;
$orange: #ff5f2e;
$black: #312e30;
$yellow: #fcbe32;
$grey: #e1eef6;
